* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color: black;
    /* background-color: whitesmoke; */
    margin-top: 0%;
    margin-right: 0%;
    bottom: 10px;
    padding: 10px;
    padding-top: 70px;
    text-align: center;
}

body {
    margin: 0%;
    margin-top: 55px;
}

.topBar {
    margin: 0;
    background-color: whitesmoke;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    position: fixed;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.centered {
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: fit-content;
}

img {
    position: absolute;
    bottom: 7px;
    left: 15px;
    width: 75px;
    height: auto;
}

p,
li,
div,
form {
    margin-left: 25px;
    font-size: 28px;
}

.topButton:hover {
    /* color: gray; */
    color: #ABFAA9;
}

.topButton {
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 0px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

input,
button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 0px;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;

}